*.log
*.pot
*.pyc
*.pyo
__pycache__
db.sqlite3
/static/
media/

*/migrations/*
!*/migrations/__init__.py

venv/
.env/

.vscode/

docs/_build/

.DS_Store
Thumbs.db

*.egg
*.egg-info
dist/
build/

.env
